/*arquivo CSS genérico*/

p 
{
    color: #fde888;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

body 
{
    background-color: rgb(107, 32, 112);
}

*
{
    margin: 0;
    padding: 0%;
}

.container 
{
    width: auto; margin: 3px;
}

.effect
{
    background-color: rgba(0, 0, 0, 0.15);
}

h1 
{
    text-align: center;
    color: #fde888;
    margin: 0 0 25px 0;
    text-shadow: 3px 3px 3px rgba(77, 6, 6, 0.863);
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

header
{
    background-color: #6e327a;
    height: auto;
    text-align: start
}

nav 
{
    background-color: rgb(231, 214, 192);
}

#solaire  
{
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#menu 
{
    float: right;
    font-size: 22px;
    margin-top: 25px;
}

#menu a
{
    text-decoration: none;
    color: #fde888;
    text-shadow: 1px 1px 1px rgb(70, 70, 70);
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

#menu a:hover
{
    background-color: #702670;
}

#logo 
{
    float: left;
}

#div1 
{
    background-image: url(IMG_20220303_214243.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 1920px;
    min-height: 1200px;
    clear: both;
}

footer 
{
    background: rgb(72, 10, 80);
    clear: both;
    text-align: center;
    padding: auto;
    font-size: 16px;
}
